@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Login | Journal System</title>
    <link href="@Url.Content("~/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/css/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/css/plugins.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/css/responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/css/icons.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/css/login.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/fontawesome/font-awesome.min.css")"> <!--[if IE 7]><link rel="stylesheet" href="assets/css/fontawesome/font-awesome-ie7.min.css"><![endif]--> <!--[if IE 8]><link href="assets/css/ie8.css" rel="stylesheet" type="text/css"/><![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="@Url.Content("~/assets/js/libs/jquery-1.10.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/bootstrap/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/js/libs/lodash.compat.min.js")"></script> <!--[if lt IE 9]><script src="assets/js/libs/html5shiv.js"></script><![endif]-->
    <script type="text/javascript" src="@Url.Content("~/plugins/uniform/jquery.uniform.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/plugins/validation/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/plugins/nprogress/nprogress.js")"></script>
    
   
</head>
<body class="login">
    <div class="logo">
        <img src="@Url.Content("~/assets/img/logo.png")" alt="logo" />
        <strong>Journal</strong>System
    </div>
    <div class="box">
        <div class="content">
            @using (Html.BeginForm("Login", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                if (ViewData["Msg"] != null)
                {
            <div class="alert alert-danger fade in">
                <i class="icon-remove close" data-dismiss="alert"></i> @ViewData["Msg"]
            </div>

                }

                <h3 class="form-title">Sign In to your Account</h3>
                <div class="alert fade in alert-danger" style="display: none;">
                    <i class="icon-remove close" data-dismiss="alert"></i> Enter any username and password.
                </div>
                <div class="form-group">
                    <div class="input-icon">
                        <i class="icon-user"></i>
                        <input type="text" name="email" class="form-control" placeholder="Username" autofocus="autofocus" data-rule-required="true" data-msg-required="Please enter your username." />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-icon">
                        <i class="icon-lock"></i>
                        <input type="password" name="password" class="form-control" placeholder="Password" data-rule-required="true" data-msg-required="Please enter your password." />
                    </div>
                </div>
                <div class="form-actions">
                    <label class="checkbox pull-left"><input type="checkbox" class="uniform" name="remember"> Remember me</label>
                    <button type="submit" class="submit btn btn-primary pull-right"> Sign In <i class="icon-angle-right"></i> </button>
                </div>
            }

        </div>
        <div class="inner-box">
            <div class="content">
                <i class="icon-remove close hide-default"></i>
                <a href="#" class="forgot-password-link">Forgot Password?</a>
                <form class="form-vertical forgot-password-form hide-default" action="" method="post">
                    <div class="form-group">
                        <div class="input-icon">
                            <i class="icon-envelope"></i>
                            <input type="text" name="email" class="form-control" placeholder="Enter email address" data-rule-required="true" data-rule-email="true" data-msg-required="Please enter your email." />
                        </div>
                    </div>
                    <button type="submit" class="submit btn btn-default btn-block"> Reset your Password </button>
                </form>
                <div class="forgot-password-done hide-default">
                    <i class="icon-ok success-icon"></i>
                    <span>Great. We have sent you an email.</span>
                </div>
            </div>
        </div>
    </div>
     
    <div class="footer">
        <a href="http://marwahinfotech.com" class="sign-up">Journal System, Powered by <strong>Marwah Infotech</strong></a>
    </div>
    
    <script>
       
        $(".forgot-password-link").click(function (h) {
            
                h.preventDefault(); $(".forgot-password-form").slideToggle(200);
                $(".inner-box .close").fadeToggle(200)
        }); $(".inner-box .close").click(function () { $(".forgot-password-link").click() })




        
    </script>
</body>
</html>